build-UserChatClient*
Debug
x64
.vs
UserChatClient.pro.user
node_modules
config.ini
config.json
/Client/UserChatClient/.qmake.stash
/Client/UserChatClient/bin/UserChatClient.exe
/Client/UserChatClient/bin/UserChatClient.ilk
/Client/UserChatClient/bin/UserChatClient.pdb
/Client/UserChatClient/UserChatClient.qtvscr
/Client/UserChatClient/UserChatClient.sln
/Client/UserChatClient/UserChatClient.vcxproj
/Client/UserChatClient/UserChatClient.vcxproj.filters
/Client/UserChatClient/UserChatClient.vcxproj.user
/Client/UserChatClient/UserChatClient_resource.rc
/Client/UserChatClient/release/moc_predefs.h.cbt
/Client/UserChatClient/ui_adduseritem.h
/Client/UserChatClient/ui_applyfriend.h
/Client/UserChatClient/ui_chatdialog.h
/Client/UserChatClient/ui_chatuserwid.h
/Client/UserChatClient/ui_findsuccessdlg.h
/Client/UserChatClient/ui_friendlabel.h
/Client/UserChatClient/ui_loadingdlg.h
/Client/UserChatClient/ui_logindialog.h
/Client/UserChatClient/ui_mainwindow.h
/Client/UserChatClient/ui_registerdialog.h
/Client/UserChatClient/ui_resetdialog.h
ui_*.h